.addition-info-container {
  border-left: 1px solid #1976d2;
  margin: 16px 0;
}

.addition-info {
  white-space: nowrap;
  width: 50%;
  display: inline-block;
  padding-bottom: 10px;
  font-size: 14px !important;
  padding-left: 20px;
}

.weather-info-paper {
  .MuiTypography-root {
    padding-top: 0;
    padding-bottom: 0;
  }
  .temp {
    font-size: 36px;
  }

  .city-name {
    font-size: 25px;
  }

  .temp-and-icon {
    align-items: center;
  }
}