.custom-tooltip {
  background-color: white;
  border: #e0e0e0 1px solid;
  border-radius: 2px;
  padding: 7px;
  p {
    margin:0;
  }
}

.weather-chart-paper {
  .title {
    font-weight: bold;
    margin-bottom: 16px;
  }
}
