.city-name {
  font-size: 25px;
  font-weight: bold;
}

.temp {
  font-size: 36px;
  white-space: nowrap;
}

.weather-icon {
  width: 65px;
}

.temp-and-icon {
  display: flex;
  align-items: center;
}

.time {
  font-size:14px;
}

.description {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}

.weather-addition-container {
  border-left: 1px solid #1976d2;
  margin-bottom: 5px;
  .weather-addition {
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 16px;
  }
}
