.city-name {
  font-size: 22px;
}

.city-name-container{
  position: relative;
  display: inline-block;
}

.temp {
  font-size: 44px;
  white-space: nowrap;
}

.weather-icon {
  width: 65px;
}

.temp-and-icon {
  display: flex;
}

.temp-typography {

}