.city-name {
  font-size: 22px;
  font-weight: bold;
}

.temp {
  font-size: 44px;
  white-space: nowrap;
}

.weather-icon {
  width: 65px;
}

.temp-and-icon {
  display: flex;
}

.description {
  font-weight: bold;
}

.time {
  font-size:14px;
}

.addition-info {
  font-size: 14px;
}